---
layout: default
title: Blog
---
<h2>Latest Film Reviews</h2>

<div class="image-gallery">
    {% assign sorted_films = site.film | sort: "date" | reverse %}
    {% for post in sorted_films limit:1 %}
      <div class="gallery-item">
        <a href="{{ post.url }}">
          <img src="{{ post.image }}" alt="{{ post.title }} image">
        </a>
        <h2 class="overlay-title">{{ post.title }}</h2>
        <p class="overlay-year">{{ post.release }}</p>
      </div>
    {% endfor %}
</div>


<h2>Latest Music Reviews</h2>

<div class="image-gallery">
  {% assign sorted_films = site.music | sort: "date" | reverse %}
  {% for post in sorted_films limit:1 %}
    <div class="gallery-item">
      <a href="{{ post.url }}">
        <img src="{{ post.image }}" alt="{{ post.title }} image">
      </a>
      <h2 class="overlay-title">{{ post.title }}</h2>
      <p class="overlay-year">{{ post.release }}</p>
    </div>
  {% endfor %}
</div>