---
layout: default
title: Blog
description: Music blog description test.
---

<h1>Film Reviews</h1>

<div style="position: relative;">
  
  <ol class="image-gallery-wrap">
    {% assign sorted_films = site.film | sort: "date" | reverse %}
    {% for post in sorted_films %}
    <li class="gallery-item">
      <a href="{{ post.url }}">
        <span class="image-overlay">
          <img src="{{ post.image }}" alt="{{ post.title }}">
          <h2 class="overlay-title">{{ post.title }}</h2>
          <p class="overlay-year">{{ post.release }}</p>
        </span>
      </a>
    </li>
    {% endfor %}
  </ol>

  <aside>
    <h3>Genres</h3>
    <ul>
      <li>
        <a href="/filmBlog.html">All</a>
      </li>
      {% for tag in site.data.film_tags %}
      <li>
        <a href="/tags/{{ tag.name | slugify }}">{{ tag.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </aside>

</div>