// mark: Variables

:root {
  --primary-color: #00c703;
  --secondary-color: #ff0000;
  --background-color: #000000;
  --text-color: #ffffff;
  --link-color: #009dff;
  --header-background: #ffffff;
  --header-text-color: var(--primary-color);
  --nav-hover-background: #7f7f7f;
  --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

// mark: Global Styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
}

p {
  margin: 20px;
  color: var(--text-color);
}

// MARK: Headers

header {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header-text-color);
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 {
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* Navigation Styles */
nav {
  margin-top: 15px;
  text-align: center;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  transition: background 0.3s;
}

nav a:hover {
  background: var(--nav-hover-background);
}

/* Main Content Styles */
.main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

.article {
  background: var(--secondary-color);
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  flex: 1 1 calc(33.333% - 20px); /* 3 columns */
  box-shadow: var(--box-shadow);
  transition: transform 0.3s;
}

.article:hover {
  transform: translateY(-5px);
}

.article h2 {
  margin-top: 0;
}

/* Footer Styles */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 15px;
  position: relative;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .article {
      flex: 1 1 calc(50% - 20px); /* 2 columns on tablet */
  }
}

@media (max-width: 480px) {
  .article {
      flex: 1 1 100%; /* 1 column on mobile */
  }

  nav {
      display: flex;
      flex-direction: column;
  }
  
  nav a {
      margin: 5px 0;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background: #5a5a5a;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--nav-hover-background);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--nav-hover-background);
}

/* Sidebar Styles */
.sidebar {
  flex: 1 1 100%;
  margin: 20px 0;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* unvisited link */
a:link {
  color: var(--link-color);
}

/* visited link */
a:visited {
  color: var(--link-color);
}

/* mouse over link */
a:hover {
  color: var(--link-color);
}

/* selected link */
a:active {
  color: var(--link-color);
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.no-bullets {
  list-style-type: none;
}

.current {
  color: rgb(0, 149, 0);
}