.current {
    color: #13a78c;
    font-weight: bold;
  }

.current:hover {
    color: #ffffff;
  }

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #000000;
}

/* Default Paragraph Styles */
p {
  font-size: 1rem; /* Adjust size as needed */
  line-height: 1.8; /* Improves readability */
  color: #ffffff; /* Neutral text color */
  margin: 20px;
}

/* Header Styles */
header {
  background: #13a78c;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 20px;
  color: #ffffff;
}

/* Navigation Styles */
nav {
  margin-top: 15px;
  margin-bottom: 15px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
}

nav a:hover {
  background: #13a78c;
  transition: 0.3s;
}

/* Main Content Styles */
.main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.article {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  flex: 1 1 calc(33.333% - 20px); /* 3 columns */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.article:hover {
  transform: translateY(-5px);
}

.article h2 {
  margin-top: 0;
}

/* Footer Styles */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 15px;
  position: relative;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .article {
      flex: 1 1 calc(50% - 20px); /* 2 columns on tablet */
  }
}

@media (max-width: 480px) {
  .article {
      flex: 1 1 100%; /* 1 column on mobile */
  }

  nav {
      display: flex;
      flex-direction: column;
  }
  
  nav a {
      margin: 5px 0;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #13a78c;
  min-width: 200px; /* Adjust width */
  height: auto; /* Adjust height if needed */
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
  z-index: 1;
  top: calc(100% + 5px);
  left: 0; /* Align it with the left edge of the parent */
  border-radius: 10px; /* Adjust corner roundness */
  padding: 5px; /* Add padding inside the dropdown */
}

.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color:#13a78c;
  background-color: #ffffff;
  font-weight: bold;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #13a78c;
}

/* Ensure the top-level nav link stays white when hovering over the dropdown */
.dropdown:hover > .current {
  color: #ffffff; /* Keep the text white */
}

.image-header {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 300px; /* Adjust height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}