---
layout: default
---

<h1>{{ page.tag }}</h1>

<div style="position: relative;">
  
  <ol class="image-gallery">
    {% for music in site.music %}
    {% if music.music-tags contains page.tag %}
    <li class="gallery-item">
      <a href="{{ music.url }}">
        <span class="image-overlay">
          <img src="{{ music.image }}" alt="{{ music.title }}">
          <h2 class="overlay-title">{{ music.title }}</h2>
          <p class="overlay-year">{{ music.release }}</p>
        </span>
      </a>
    </li>
    {% endif %}
    {% endfor %}
    </ol>

    <aside>
        <h3>Composers</h3>
        <ul>
            <li>
                <a href="/musicBlog.html">All</a>
            </li>
        {% for tag in site.data.music_tags %}
        <li>
        <a href="/tags/{{ tag.name }}">{{ tag.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </aside>

</div>